@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.schduleSocialMedia {
  background-color: $purple100;
  margin-top: 2rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    padding: 0.5rem 0rem;

    h1 {
      font-size: 1.6rem;
    }
  }
  &__img {
    img {
      width: 85vw;
    }
  }
  &__text {
    text-align: center;
    padding: 0rem 3rem;
    font-size: 1.2rem;
    color: $black;
    font-family: "DM Sans";
  }
}
