@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.Banner {
  background-color: $purple500;
  color: $white;
  font-family: "DM Sans";
  border-radius: 5px;
  margin-bottom: 1rem;


  @media screen and (min-width: 1000px) {
    width: 50%;
  }
  
  

  &__heading {
    font-size: 2.8rem;
    text-align: center;
    padding: 2rem 3rem 0 3rem;

    @media screen and (min-width: 1000px) {
      font-size: 3.5rem;
      padding: 3rem 3rem 0 3rem;
    }

    &--color {
      color: $yellow500;
    }
    &--style {
      font-family: "DM Sans Italic";
    }
  }

  &__img {
    width: 55%;
  }
  &__text {
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 2rem;
    color: $purple100;
    margin: 0;
  }
}
